{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=Tx_Flux_ViewHelpers}

<f:layout name="Default"/>

<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<f:section name="Configuration">
	<flux:flexform id="template-default" label="Default 1-Column Template">
	</flux:flexform>
	<flux:flexform.grid>
		<flux:flexform.grid.row>
			<flux:flexform.grid.column colPos="1" name="SlideShow" />
		</flux:flexform.grid.row>
		<flux:flexform.grid.row>
			<flux:flexform.grid.column colPos="0" name="Content" />
		</flux:flexform.grid.row>
	</flux:flexform.grid>
</f:section>

<f:section name="Content">
<div class="home-page">
	<f:render section="SubHeader" partial="SubHeader"/>
</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<v:page.content.render column="1"/>
</div>
<div class="container">
	<f:render section="Breadcrumb" partial="Breadcrumb"/>
	<div id="main-content">
		<f:render section="PageTitle" partial="PageTitle"/>
		<div class="row">
			<div class="col-lg-12">
				<v:page.content.render column="0"/>
			</div>
		</div>
	</div>
</div>
</f:section>