<f:section name="Header">
	<header class="navbar navbar-inverse navbar-fixed-top bb-header" role="banner">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse"
					data-target=".bs-navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<f:cObject typoscriptObjectPath="lib.misc.logo" />
			</div>
			<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
				<f:cObject typoscriptObjectPath="lib.nav.main" />
				<f:cObject typoscriptObjectPath="lib.nav.language" />
			</nav>
		</div>
	</header>
</f:section>
